body {
    font-family: Arial, sans-serif;
    background-color: #92c0e0c0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container {
    width: 800px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.header {
    background-color: #225ad1;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.header h1 {
    margin: 0;
}
.section-title {
    background-color: #5b73de;
    color: #fff;
    padding: 5px 10px;
    margin-top: 20px;
}
.content {
    padding: 10px 20px;
}
.skills span {
    display: inline-block;
    background-color: #d9edf7;
    padding: 5px 15px;
    margin: 5px 0;
    border-radius: 5px;
}
.contact p {
    margin: 5px 0;
}